.git
.github
.next
node_modules
apps/*/.next
apps/*/dist
packages/*/dist
coverage
docs
infra/local
infra/aws/.terraform
infra/aws/*.tfstate
infra/aws/*.tfstate.*
aws
awscliv2.zip
*.log
.env
.env.*
!.env.example
